@model VendorWeb.Models.User
@{ 
    ViewData["Title"] = "Login";
}
<h1>Login</h1>
<form method="post">
    <input asp-for="UserName" type="text" placeholder="User Name" /><br /><br />
    <input asp-for="Password" type="password" placeholder="Password" /><br /><br />
    <button type="submit" class="btn btn-primary" value="Submit">Login</button>
</form>