@model VendorWeb.Models.User

<h1>Register</h1>
<form method="post">
    <input asp-for="UserName" type="text" placeholder="User Name" /><br /><br />
    <input asp-for="Password" type="password" placeholder="Password" /><br /><br />
    <select asp-for="Role" asp-items="Html.GetEnumSelectList<User.RoleTye>()" class="btn-group"></select><br /><br />
        <button type="submit" class="btn btn-primary" value="Submit">Register</button>
</form>