@model VendorWeb.Models.ShoppingCart
@{
    var title = "Product Details";
}

<form method="post" asp-action="ShoppingCart">
    <div class="row px-2 mx-2 backgroundWhite border">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AmountAvailable"></label>
            </div>
            <div class="col-8">
                <input asp-for="AmountAvailable" class="form-control" readonly />
                <input asp-for="ApplicationUserId" class="form-control" hidden />
            </div>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductName" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cost"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cost" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Count"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Count" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">
                        Add To Cart
                    </button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div>
        @*<div class="col-4 text-right" style="width:250px;">
                <img src="https://via.placeholder.com/150" width="100%" />
            </div>*@
    </div>
</form>